/* Import EB Garamond from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --background-color: #f9f1f6;
    --blockquote-background-color: #cdc7cb;
    --border-radius: 0.25em;
    --line-height: 1.3;
    --font-main: 'EB Garamond', Georgia, serif;
    --font-scale: 16px;
    --text-color: #6d5a66;
    --text-color-darker: #4d3d46;
    --text-color-lighter: #87717f;
    --spacing: 1rem;
    --width: 88ch;
}

/* HTML Elements */

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-main);
    font-size: var(--font-scale);
    line-height: var(--line-height);
    margin: auto;
    max-width: var(--width);
    overflow-wrap: break-word;
    padding: var(--spacing);
    text-align: left;
    word-wrap: break-word;
}

a {
    color: var(--text-color);
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    color: var(--text-color-lighter);
}

blockquote {
    background-color: var(--blockquote-background-color);
    border-radius: var(--border-radius);
    font-style: italic;
    padding: var(--spacing);
}

button {
    cursor: pointer;
    margin: 0;
}

footer {
    padding: var(--spacing) 0;
    text-align: center;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

h4 {
    font-size: 1rem;
}

hr {
    border: 0;
    border-top: 1px solid;
}

img {
    max-width: 100%;
}

li::marker {
    content: "— ";
}

main {
    line-height: 1.6;
}

nav a {
    margin-right: var(--spacing);
}

strong {
    font-weight: bold;
}

table {
    width: 100%;
}

time {
    color: var(--text-color-darker);
    font-style: normal;
}

/* CSS Classes */
.inline {
    width: auto !important;
}

.title {
    color: var(--text-color-darker);
    text-decoration: none;
}

.title h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

/* blog post list */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
}

ul.blog-posts li span {
    flex: 0 0 12ch;
}
